@if (currentForm === 1) {
    <section class="bg-main-light shadow p-5 my-3">
        <h1 class="h2 text-main">Email Verification:</h1>
        <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmailSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Please enter your registered email"
                    formControlName="email" />
                    @if(verifyEmailForm.get('email')?.errors && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty)){
                        <div class="alert alert-danger my-2">
                            @if(verifyEmailForm.get('email')?.getError('required'))
                            {
                                <p class="p-0 m-0">Please enter your registered email</p>
                            }
                            @else if(verifyEmailForm.get('email')?.getError('email'))
                            {
                                <p class="p-0 m-0">Please enter a valid email address</p>
                            }
                        </div>
                    }
            </div>
            <button class="btn btn-main">Verify Email</button>
        </form>
    </section>
}

@if (currentForm === 2) {
    <section class="bg-main-light shadow p-5 my-3">
        <h1 class="h2 text-main">Code Verification:</h1>
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodeSubmit()">
            <div class="mb-3">
                <label for="resetCode" class="form-label">Reset Code</label>
                <input type="text" class="form-control" id="resetCode" placeholder="Please enter verification code"
                    formControlName="resetCode" />
                    @if(verifyCodeForm.get('resetCode')?.errors && (verifyCodeForm.get('resetCode')?.touched || verifyCodeForm.get('resetCode')?.dirty)){
                        <div class="alert alert-danger my-2">
                            @if(verifyCodeForm.get('resetCode')?.getError('required'))
                            {
                                <p class="p-0 m-0">Please enter the verification</p>
                            }
                            @else if(verifyCodeForm.get('resetCode')?.getError('pattern'))
                            {
                                <p class="p-0 m-0">Please enter a valid code</p>
                            }
                        </div>
                    }
            </div>
            <button class="btn btn-main">Verify Code</button>
        </form>
    </section>
}

@if(currentForm === 3){
    <section class="bg-main-light shadow p-5 my-3">
        <h1 class="h2 text-main">Reset Password:</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Please enter your registered email"
                    formControlName="email" />
                    @if(verifyEmailForm.get('email')?.errors && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty)){
                        <div class="alert alert-danger my-2">
                            @if(verifyEmailForm.get('email')?.getError('required'))
                            {
                                <p class="p-0 m-0">Please enter your registered email</p>
                            }
                            @else if(verifyEmailForm.get('email')?.getError('email'))
                            {
                                <p class="p-0 m-0">Please enter a valid email address</p>
                            }
                        </div>
                    }
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New password:</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter a new password"
                    formControlName="newPassword"
                    />
                    @if(resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched || resetPasswordForm.get('newPassword')?.dirty)){
                        <div class="alert alert-danger my-2">
                            @if(resetPasswordForm.get('newPassword')?.getError('required'))
                            {    
                                <p class="p-0 m-0">Password field can't be empty</p>
                            } 
                            @else if(resetPasswordForm.get('newPassword')?.getError('pattern')){
                                <p class="p-0 m-0">Enter a valid password</p>
                            }                       
                        </div>
                    }
            </div>
            <button class="btn btn-main">Reset Password</button>
        </form>
    </section>
}

@if(errMsg){
    <div class="alert alert-danger">
        <p class="p-0 m-0">{{errMsg}}</p>
    </div>
}